.row
  .span12
    .page-title
      =@workshop.name
.row
  .span12
    = link_to 'View Schedule', schedule_path
    = link_to 'View all Workshops', workshops_path
.row
  .span8
    .well
      .proposal
        .actions.pull-right
          - if current_user && current_user.admin?
            = link_to edit_admin_workshop_path(@workshop) do
              %i.icon-pencil
                edit
            = link_to admin_workshop_path(@workshop), :method => :delete do
              %i.icon-trash
                delete
        .title
          =@workshop.name
        .abstract
          = Haml::Engine.new(@workshop.abstract).render
  .span4
    .well
      = render :partial => 'proposals/presenter', :collection => @workshop.speakers