%tr
  %td
    =proposal.status
  %td
    =link_to proposal.title, admin_proposal_path(proposal)
  %td
    =proposal.user.email if proposal.user
  %td.tr
    =proposal.votes.count
  %td.tr
    =number_with_precision(proposal.weighted_votes, :precision => 2)
  %td
    =proposal.created_at.strftime("%m-%d-%Y")
  %td.center
    =proposal.comment_threads.size
  %td
    - unless proposal.status == "considered"
      = link_to('Consider', consider_admin_proposal_path(proposal), :method => :put)
    - else
      Consider

    - unless proposal.status == "accepted"
      = link_to('Accept', accept_admin_proposal_path(proposal),     :method => :put)
    - else
      Accept
    - unless proposal.status == "rejected"
      = link_to('Reject', reject_admin_proposal_path(proposal),     :method => :put)
    -else
      Reject

    - unless proposal.status.blank?
      = link_to('Clear', clear_admin_proposal_path(proposal),       :method => :put)
    -else
      Clear

    - unless proposal.status == "confirmed"
      = link_to("Confirm", confirm_admin_proposal_path(proposal),   :method => :put)
    -else
      Confirm

    - unless proposal.status == "denied"
      = link_to("Denied", denied_admin_proposal_path(proposal),     :method => :put)
    - else
      Denied
      