-content_for :admin_nav do
  .row
    .span12
      = render :partial => 'admin/admin_navigation'
.row
  .span3
    .well
      .label
        Proposals to Review
      .large-stat
        =Proposal.to_review.count
  .span3
    .well
      .label
        Considered
      .large-stat
        =Proposal.considered.count
  .span3
    .well
      .label
        Rejected
      .large-stat
        =Proposal.rejected.count
  .span3
    .well
      .label
        Accepted / Confirmed
      .large-stat
        =Proposal.accepted.count
        \/
        =Proposal.confirmed.count
.row
  .span12
    .well
      = link_to 'All', admin_proposals_path
      = link_to 'Accepted',   admin_proposals_path(:filter => 'accepted')
      = link_to 'Rejected',   admin_proposals_path(:filter => 'rejected')
      = link_to 'Considered', admin_proposals_path(:filter => 'considered')
      = link_to 'To Review',  admin_proposals_path(:filter => 'review')
      = link_to 'Confirmed',  admin_proposals_path(:filter => 'confirmed')
      %table#proposals.table.table-striped
        %thead
          %tr
            %th
              Status
            %th
              Title
            %th
              Author
            %th
              Votes
            %th
              Weighted
            %th
              Submitted on
            %th
              Comments
            %th
              Actions
        %tbody
          = render :partial => 'proposal', :collection => @proposals

      