-content_for :admin_nav do
  .row
    .span12
      = render :partial => 'admin/admin_navigation'
.row
  .span6
    .well
      .proposal
        .title
          =@proposal.title
        .abstract
          =@proposal.abstract
        .author
          = @proposal.user.email unless @proposal.user.nil?
        .audience
          Target Audience:
          = @proposal.target_audience        
        .date
          Submitted:
          = @proposal.created_at.strftime("%B %d, %Y @ %H:%M:%S %P %Z")
          %br
          Last updated:
          = @proposal.updated_at.strftime("%B %d, %Y @ %H:%M:%S %P %Z")
  .span3
    .well
      .label
        Comments
      .comment-form
        =form_for [:admin, @proposal, @comment] do |f|
          =f.text_area :body, :rows => 4
          .validation-error
          =f.submit
      #comments
        = render :partial => 'admin/comments/show', :collection => @proposal.root_comments, :as => :comment
  .span3
    .well
      .label
        Navigation
      .center
        = @proposal == Proposal.all.first ? 'First' : link_to("First",admin_proposal_path(Proposal.all.first))
        = @proposal.prev.nil? ? 'Prev' : link_to("Prev", admin_proposal_path(@proposal.prev))
        = @proposal.next.nil? ? 'Next' : link_to("Next", admin_proposal_path(@proposal.next))
        = @proposal == Proposal.all.last ? 'Last' : link_to("Last", admin_proposal_path(Proposal.all.last))

    .well
      .label
        Status
      .large-stat
        =@proposal.status
    .well
      .label
        Vote Info
      .large-stat
        =@proposal.votes.count
        \/
        =number_with_precision(@proposal.weighted_votes, :precision => 2)