%header
  .row
    .span3
      .well.center.blue
        The sixth annual Conference will be
        .dates 
          = CONFERENCE_DATE
        Workshops will be held
        .dates
          = WORKSHOP_DATES
    .span6
      %a.brand(href="/")
        %title
          LA Ruby Conf
          = CONF_YEAR
    .span3
      .well.center.blue
        $199 Early Bird Pricing!
        .dates
          ends
          = display_date(EARLY_BIRD_END_DATE, true)
        $249.00 Standard after
        %p
          See
          = link_to 'Workshops', workshops_path
          page for pricing
= render :partial => 'shared/navigation'