.row
  .span12
    .page-title
      =@proposal.title
.row
  .span12
    - if @proposal.status == "accepted" 
      = link_to 'View Schedule', schedule_path
    =link_to 'View all Proposals', proposals_path
.row
  .span8
    .well
      .proposal
        .actions.pull-right
          - if current_user && current_user.admin?
            = link_to edit_admin_proposal_path(@proposal) do
              %i.icon-pencil
                edit
            = link_to admin_proposal_path(@proposal), :method => :delete do
              %i.icon-trash
                delete
          - elsif @proposal.user == current_user
            = link_to edit_proposal_path(@proposal) do
              %i.icon-pencil 
                edit
            %br
            =link_to proposal_path(@proposal), :method => :delete do
              %i.icon-trash 
                delete
        .title
          =@proposal.title
        .abstract
          =raw(@proposal.abstract
        .votes
          Votes:
          = @proposal.votes.count
          = render :partial => 'shared/vote', :locals => { :proposal => @proposal }
        .audience
          Target Audience:
          = @proposal.target_audience        
        .date
          Submitted:
          = @proposal.created_at.strftime("%B %d, %Y @ %H:%M:%S %P %Z")
          %br
          Last updated:
          = @proposal.updated_at.strftime("%B %d, %Y @ %H:%M:%S %P %Z")
  .span4
    .well
      = render :partial => 'presenter', :collection => @proposal.speakers